gcloud/
raycast/
firebase/
flutter/
configstore/
**/*.log
**/*.lock
iterm2/
.DS_Store
tmux/
kitty/termpdf.py/
**/*_compiled.lua
**/__pycache__/
node_modules/
.dart-tools/
yarn/
op/
zed/embeddings
zed/.*
.vscode-oss/extensions/
.vscode-oss/User/History
.vscode-oss/**/workspaceStorage
.vscode-oss/**/globalStorage
helix/target
helix/.direnv
helix/book
helix/.github
helix/helix-*
helix/result
helix/runtime
helix/Cargo.*
helix/catppuccin
helix/flake.*
helix/*.lock
helix/docs
helix/xtask
helix/contrib
helix/rustfmt.toml
helix/.cargo
helix/.envrc
helix/.gitattributes
helix/logo.*
helix/screenshot.*
helix/README.md
helix/LICENSE
cody-ai/

*.bak
