gcloud/
raycast/
firebase/
flutter/
configstore/
**/*.log
**/*.lock
iterm2/
.DS_Store
neofetch/
tmux/
kitty/termpdf.py/
**/*_compiled.lua
**/__pycache__/
node_modules/
.dart-tools/
yarn/
op/
zed/embeddings
zed/.*
