[user]
	name = Boris Kayi
	email = hello@silverhairs.engineer	
[core]
	editor = "hx"
	pager = delta
[delta]
	features = catppuccin-mocha
	side-by-side = true
	hyperlinks = true
	hyperlinks-file-link-format = "file-line://{path}:{line}"
[interactive]
	diffFilter = delta --color-only
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[submodule]
	recurse = true
[rerere]
	enabled = true
[includeIf "gitdir:~/Documents/Work"]
	path = ~/.gitconfig.work
